<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta property="fb:app_id" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content=""> {% if navCss %}
    <link rel="stylesheet" href="{{navCss}}"> {% endif %}
    <link rel="stylesheet" href="css/index.css">
    <script src="{{jquery}}"></script>
    <script src="{{bpopup}}"></script>
    <script src="{{cookie}}"></script>
    <script src="{{user_api}}"></script>
    <script src="{{Efunjs}}"></script>
    <script src="js/business.js"></script>{% if navJs %}
    <script src="{{navJs}}"></script>{% endif %}
</head>

<body>
</body>

</html>