<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//g.alicdn.com/fdilab/lib3rd/viewport-units-buggyfill/0.6.2/??viewport-units-buggyfill.hacks.min.js,viewport-units-buggyfill.min.js"></script>
    <!-- cdn lib js -->
    <script src="{{jquery}}"></script>
    <script src="{{bpopup}}"></script>
    <script src="{{cookie}}"></script>
    <script src="{{user_api}}"></script>
    {% if navJs %}
    <script src="{{navJs}}"></script>{% endif %}

    <!-- cdn lib css -->
    {% if navCss %}
    <link rel="stylesheet" href="{{navCss}}"> {% endif %}
    <script>
        window.onload = function () {
            if (window.viewportUnitsBuggyfill) window.viewportUnitsBuggyfill.init({
                hacks: window.viewportUnitsBuggyfillHacks
            });
        }
    </script>
</head>

<body>
    <div id='root'></div>
</body>

</html>