<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- viewport setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">

    <!-- cache control -->
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">

    <!-- share control *required-->
    <meta property="og:url" content="请键入您要分享的链接" />
    <meta property="og:title" content="请键入您要分享的标题" />
    <meta property="og:description" content="请键入您要分享的描述" />
    <meta property="og:image" content="请键入您要分享的图片链接" />
    <!-- 此处提供一个Efun 测试用的 appID: 115441799073400 -->
    <meta property="fb:app_id" content="请键入您的Facebook应用id" />

    <!-- share control optional -->
    <meta property="og:type" content="内容的媒体类型" />
    <meta property="og:locale" content="资源的区域设置。" />

    <!-- local css  -->
    <link rel="stylesheet" href="./css/index.css?rev=@@hash">

    <!-- cdn lib js -->
    <script src="{{jquery}}"></script>
    <script src="{{bpopup}}"></script>
    <script src="{{cookie}}"></script>
    <script src="{{user_api}}"></script>
    {% if navJs %}
    <script src="{{navJs}}"></script>{% endif %}

    <!-- cdn lib css -->
    {% if navCss %}
    <link rel="stylesheet" href="{{navCss}}"> {% endif %}

    <!-- local js -->
    <script src="./js/index.js?rev=@@hash"></script>

    <!-- !NOTE  please edit the title of document -->
    <title>Document</title>
</head>

<body>
    <p>hello world!</p>

</body>

</html>