.page-container{
    width: 10rem;

    .picture{
        width: 100%;
    }
    background-image: url('../images/share-facebook.png');
}
p{
    font-size: 1rem;
    transition: .3s all ease-in-out;
}
p:hover{
    color: #fff;
}